
<div *ngIf="loading" class="mt-2 row alert alert-info">
  Registering user...
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div class="signup-popup">
  <div class="popup-content container-fluid mt-4">
    <h2 class="text-center">Signup Form</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row mb-3 mt-4">
        <div class="col">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter your username" formControlName="username">
        </div>
        <div class="col">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="Enter your email address" formControlName="email">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password."
            formControlName="password">
        </div>
        <div class="col">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password."
            formControlName="confirmPassword">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="firstname" class="form-label">Firstname</label>
          <input type="text" class="form-control" id="firstname" placeholder="Enter your firstname" formControlName="firstname">
        </div>
        <div class="col">
          <label for="lastname" class="form-label">Lastname</label>
          <input type="text" class="form-control" id="lastname" placeholder="Enter your lastname" formControlName="lastname">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" formControlName="phone">
        </div>
        <div class="col">
          <label for="imgURL" class="form-label">Avatar</label>
          <select class="form-select" id="imgURL" formControlName="imgUrl">
            <option value="" selected disabled>Select an avatar</option>
            <option value="../../assets/img/Avatars/Serius.jpg">Avatar 1</option>
            <option value="../../assets/img/Avatars/Serius.jpg">Avatar 2</option>
            <option value="../../assets/img/Avatars/Serius.jpg">Avatar 3</option>
            <option value="../../assets/img/Avatars/Serius.jpg">Avatar 4</option>
            <option value="../../assets/img/Avatars/Serius.jpg">Avatar 5</option>
            <option value="../../assets/img/Avatars/Serius.jpg">Avatar 6</option>
            <option value="../../assets/img/Avatars/Serius.jpg">Avatar 7</option>
            <option value="../../assets/img/Avatars/Serius.jpg">Avatar 8</option>
          </select>
        </div>
      </div>
      <div class="d-grid gap-4 mt-5">
        <button class="btn btn-primary" type="submit" >Sign Up</button>
      </div>
    </form>
    <hr>
    <div class="text-center">
      <p>Already have an account? <a class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#loginModal">Log in</a></p>
    </div>
  </div>
</div>

<!-- Login Modal for sign in through the register form-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="username2" class="form-label">Username</label>
            <input type="text" class="form-control" id="username2" placeholder="Enter your username">
          </div>
          <div class="mb-3">
            <label for="password2" class="form-label">Password</label>
            <input type="password" class="form-control" id="password2" placeholder="Enter your password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>